@font-face {
  font-family: "aileronregular";
  src: url("/assets/fonts/Poppins-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Poppins", sans-serif;
}
